@import "js";

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
}

button.link {
  background: none;
  border: none;
  box-shadow: none;
  color: $link-colour;
  cursor: hand;
  cursor: pointer;
  padding-left: 0px;
  text-align: left;
  text-decoration: none;
}

button.link.underlined {
  text-decoration: underline;
}

button.link:hover {
  background: none;
  color: $link-hover-colour;
}