@import components.common.journey.JourneyManager

@(overridePrompt: Option[String] = None)

@if(!ctx().args.getOrDefault(JourneyManager.JOURNEY_SUPPRESS_BACK_LINK_CONTEXT_PARAM, Boolean.FALSE).asInstanceOf[java.lang.Boolean]) {
  <form action="@controllers.common.journey.routes.JourneyBackController.handleBack" method="post">
    @journeyFormParams()

    <button class="link-back">@overridePrompt.getOrElse(ctx().args.getOrDefault(JourneyManager.JOURNEY_BACK_LINK_CONTEXT_PARAM, "Back"))</button>
  </form>
}