.card {
  border: 3px solid $grey-3;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  padding-top: $gutter-half;
  padding-right: $gutter-half;
  padding-bottom: $gutter-half;
  padding-left: $gutter-half;
}