@import utils.common.ViewUtil
@import play.twirl.api.HtmlFormat

@(field: Form.Field, hint: Option[Html] = None, cssClass : String = "", validationGroup: Option[String] = None)(label: Html)
<div class="form-group @if(field.error.isDefined){ form-group-error }">

  <label class="form-label" for="@field.id">@label</label>

  @if(hint.isDefined){
    <label class="form-label" for="@field.id">
      <span class="form-hint">@hint</span>
    </label>
  }

  @if(field.error.isDefined) {
    <p class="error-message">@Messages(field.error.get.message)</p>
  }

  <input class="form-control @cssClass @if(field.error.isDefined){ form-control-error }" id="@field.id" name="@field.getName.get" type="text" value="@field.getValue.orElse(null)"
  @{
    val fieldValidationData = ViewUtil.fieldValidationJSON(field);
    if(fieldValidationData != null){
      HtmlFormat.raw(" data-validation=\"" + HtmlFormat.escape(fieldValidationData) + "\"")
    }
  }
  @if(validationGroup.isDefined) {
    @Html(" data-validation-group=\"" + HtmlFormat.escape(validationGroup.get) + "\"")
  }/>

</div>