@import utils.common.ViewUtil
@(field: Form.Field, hint: Option[Html] = None, cssClass : String = "")(label: Html)
<div class="form-group @if(field.error.isDefined){ error }">

  <label class="form-label" for="@field.id">@label</label>

  @if(field.error.isDefined) {
    <p class="error-message">@Messages(field.error.get.message)</p>
  }

  <input class="form-control @cssClass" id="@field.id" name="@field.name" type="text" value="@field.value"
  @{
    val fieldValidationData = ViewUtil.fieldValidationJSON(field);
    if(fieldValidationData != null){
      HtmlFormat.raw(" data-validation=\"" + HtmlFormat.escape(fieldValidationData) + "\"")
    }
  }/>
  @if(hint.isDefined){
    <label class="form-label" for="@field.id">
      <span class="form-hint">@hint</span>
    </label>
  }
</div>