@import play.twirl.api.HtmlFormat

@(field: Form.Field, prompt: Html, promptHeadingTag: String = "span", containerCssClass: String = "form-group", promptCssClass: String = "form-label-bold", truePrompt: String = "Yes", falsePrompt: String = "No", validationGroup: Option[String] = None, inline: Boolean = true, legendContent: Option[Html] = None)
@formRadioBooleanWithContent(field, prompt, promptHeadingTag, containerCssClass, promptCssClass, truePrompt, falsePrompt, validationGroup, inline, legendContent)(HtmlFormat.empty)(HtmlFormat.empty)
