@import utils.common.SelectOption
@(field: Form.Field, options: List[SelectOption], promptHeadingTag: String = "span", containerCssClass: String = "form-group", promptCssClass: String = "form-label-bold", inline: Boolean = false, legendContent: Option[Html] = None)(prompt: Html)

@formRadioGroupContainer(field)(prompt, promptHeadingTag, containerCssClass, promptCssClass, None, inline, legendContent) {
  @for(option <- options) {
    @formRadio(field, option.prompt, option.value, option.isPromptHtml)
  }
}