@(field: Form.Field, prompt: String, isPromptHtml: Boolean = false, cssClass : String = "")(checkedContent: Html)

<div class="multiple-choice" @if(checkedContent.body.nonEmpty){data-target="@field.name-content"}>
  <input id="@field.name" name="@field.name" value="true" type="checkbox" @if(field.value != null && field.value.equals("true")){ checked="checked" }>
  <label class="@cssClass" for="@field.name">
  @if(isPromptHtml) {
    @Html(prompt.replace("\n", "<br/>"))
  } else {
    @Html(HtmlFormat.escape(prompt).toString.replace("\n", "<br/>"))
  }
  </label>
</div>

@if(checkedContent.body.nonEmpty) {
  <div class="panel panel-border-narrow js-hidden" id="@field.name-content">
  @checkedContent
  </div>
}