@import play.data.Form
@import utils.common.ViewUtil
@import play.twirl.api.HtmlFormat

@(field: Form.Field)(prompt: Html, promptHeadingTag: String = "h2", promptCssClass: String = "heading-medium", validationGroup: Option[String] = None, inline: Boolean = false)(radioContent: Html)

@errorMessage = {
  @if(field.error.isDefined) {
    <span class="error-message">@Messages(field.error.get.message)</span>
  }
}

<div id="@field.getName.get" class="form-group @if(field.error.isDefined && !ViewUtil.isHeadingTag(promptHeadingTag)) { form-group-error }"
  @{
    val fieldValidationData = ViewUtil.fieldValidationJSON(field);
    if(fieldValidationData != null){
      HtmlFormat.raw(" data-validation=\"" + HtmlFormat.escape(fieldValidationData) + "\"")
    }
  }
  @if(validationGroup.isDefined) {
    @Html(" data-validation-group=\"" + HtmlFormat.escape(validationGroup.get) + "\"")
  }>

  <fieldset @if(inline) { class="inline" }>
    <legend>
      <@promptHeadingTag class="@promptCssClass">@prompt</@promptHeadingTag>
      @if(field.error.isDefined && ViewUtil.isHeadingTag(promptHeadingTag)) {
        <div class="form-group-error">@errorMessage</div>
      } else {
        @errorMessage
      }
    </legend>

    @if(field.error.isDefined && ViewUtil.isHeadingTag(promptHeadingTag)) {
      <div class="form-group-error">
        @radioContent
      </div>
    } else {
      @radioContent
    }

  </fieldset>

</div>