@import play.twirl.api.HtmlFormat
@import org.apache.commons.lang3.StringUtils

@(field: Form.Field, prompt: String, isPromptHtml: Boolean = false, cssClass : String = "", promptNewlineToBr: Boolean = false, contentAfterLabel: Option[Html] = None, inputId: String = "", inputName: String = "", inputValue: String = "true")(checkedContent: Html)

<div class="multiple-choice" @if(checkedContent.body.nonEmpty){data-target="@field.getName.get-content"}>
  <input id="@if(StringUtils.isBlank(inputId)){@field.getName.get}else{@inputId}" name="@if(StringUtils.isBlank(inputName)){@field.getName.get}else{@inputName}" value="@inputValue" type="checkbox" @if(field.getValue.isPresent && field.getValue.get.equals(inputValue)){ checked="checked" }>
  <label class="@cssClass" for="@if(StringUtils.isBlank(inputId)){@field.getName.get}else{@inputId}">
  @if(promptNewlineToBr) {
    @if(isPromptHtml) {
      @Html(prompt.replace("\n", "<br/>"))
    } else {
      @Html(HtmlFormat.escape(prompt).toString.replace("\n", "<br/>"))
    }
  } else {
    @if(isPromptHtml) {
      @Html(prompt)
    } else {
      @HtmlFormat.escape(prompt)
    }
  }
  </label>
  @contentAfterLabel
</div>

@if(checkedContent.body.nonEmpty) {
  <div class="panel panel-border-narrow js-hidden" id="@field.getName.get-content">
  @checkedContent
  </div>
}