@import play.twirl.api.HtmlFormat

@(field: Form.Field, prompt: String, isPromptHtml: Boolean = false, cssClass : String = "")(checkedContent: Html)

<div class="multiple-choice" @if(checkedContent.body.nonEmpty){data-target="@field.getName.get-content"}>
  <input id="@field.getName.get" name="@field.getName.get" value="true" type="checkbox" @if(field.getValue.isPresent && field.getValue.get.equals("true")){ checked="checked" }>
  <label class="@cssClass" for="@field.getName.get">
  @if(isPromptHtml) {
    @Html(prompt.replace("\n", "<br/>"))
  } else {
    @Html(HtmlFormat.escape(prompt).toString.replace("\n", "<br/>"))
  }
  </label>
</div>

@if(checkedContent.body.nonEmpty) {
  <div class="panel panel-border-narrow js-hidden" id="@field.getName.get-content">
  @checkedContent
  </div>
}