@import org.apache.commons.lang3.StringUtils
@import play.data.Form
@import utils.common.ViewUtil
@import play.twirl.api.HtmlFormat

@(field: Form.Field)(prompt: Html, promptHeadingTag: String = "span", promptCssClass: String = "form-label-bold", validationGroup: Option[String] = None, inline: Boolean = false, legendContent: Option[Html] = None)(radioContent: Html)

@errorMessage = {
  @if(field.error.isDefined) {
    <span class="error-message">@Messages(field.error.get.message)</span>
  }
}

<div id="@field.getName.get" class="govuk-form-group @if(field.error.isDefined && !ViewUtil.cssClassContainsHeading(promptCssClass)) { form-group-error } @if(!ViewUtil.cssClassContainsHeading(promptCssClass)) { clientside-form-group-error-target }"
  @{
    val fieldValidationData = ViewUtil.fieldValidationJSON(field);
    if(fieldValidationData != null){
      HtmlFormat.raw(" data-validation=\"" + HtmlFormat.escape(fieldValidationData) + "\"")
    }
  }
  @if(validationGroup.isDefined) {
    @Html(" data-validation-group=\"" + HtmlFormat.escape(validationGroup.get) + "\"")
  }>

  <fieldset class="govuk-fieldset @if(inline) { inline }">
    <legend @if(!ViewUtil.cssClassContainsHeading(promptCssClass)) { class="clientside-error-message-parent govuk-label" }>
      <@promptHeadingTag class="@promptCssClass">@prompt</@promptHeadingTag>

      @if(ViewUtil.cssClassContainsHeading(promptCssClass)) {
        <div class="clientside-form-group-error-target clientside-error-message-parent govuk-label @if(field.error.isDefined) { form-group-error }">
          @legendContent
          @errorMessage
        </div>
      } else {
        @legendContent
        @errorMessage
      }
    </legend>

    @if(ViewUtil.cssClassContainsHeading(promptCssClass)) {
      <div class="clientside-form-group-error-target @if(field.error.isDefined) { form-group-error }">
        @radioContent
      </div>
    } else {
      @radioContent
    }

  </fieldset>

</div>
