@(field: Field, hint: Option[Html] = None, rows: String = "2", cssClass : String = "")(label: Html)

<div class="form-group @if(field.error.isDefined){ error }">

  <label class="form-label" for="@field.id">@label</label>

  @if(field.error.isDefined) {
    <p class="error-message">@Messages(field.error.get.message)</p>
  }

  <textarea class="form-control @cssClass" id="@field.id" row="@rows" name="@field.name" type="text"
    @if(field.constraints.find{e => "constraint.required".equals(e._1)}){ data-validation-required="true" }>@field.value</textarea>
  @if(hint.isDefined){
    <label class="form-label" for="@field.id">
      <span class="form-hint">@hint</span>
    </label>
  }
</div>