
@import utils.common.CheckboxOption
@(field: Field, options: List[CheckboxOption])(prompt: Html)

<div class="form-group @if(field.error.isDefined){ error }">
  <p class="lede form-block">@prompt</p>

  @if(field.error.isDefined) {
    <p class="error-message">@Messages(field.error.get.message)</p>
  }

  @for(option <- options) {
    <label class="block-label" for="@field.name@option.value">
      <input id="@field.name@option.value" name="@field.name" value="@option.value" type="radio" @if(field.value.getOrElse("").equals(option.value)){ checked="checked" }>
      @option.prompt
    </label>
  }
</div>