@import utils.common.ViewUtil
@(field: Form.Field, prompt: Html, truePrompt: String = "Yes", falsePrompt: String = "No", hideHeading: Boolean = false, validationGroup: Option[String] = None)(trueContent: Html)(falseContent: Html)

@if(!hideHeading) {
  <h2 class="heading-medium">@prompt</h2>
}

<div id="@field.name" class="form-group @if(field.error.isDefined){ form-group-error }"
  @{
    val fieldValidationData = ViewUtil.fieldValidationJSON(field);
    if(fieldValidationData != null){
      HtmlFormat.raw(" data-validation=\"" + HtmlFormat.escape(fieldValidationData) + "\"")
    }
  }
  @if(validationGroup.isDefined) { 
    @Html(" data-validation-group=\"" + HtmlFormat.escape(validationGroup.get) + "\"") 
  }>

  <fieldset class="inline">
    <legend class="visually-hidden">@prompt</legend>

    @if(field.error.isDefined) {
      <p class="error-message">@Messages(field.error.get.message)</p>
    }

    <div class="multiple-choice">
      <input id="@field.name-T" name="@field.name" value="true" type="radio" @if("true".equals(field.value)){ checked="checked" }>
      <label for="@field.name-T" @if(trueContent.body.nonEmpty){data-target="@field.name-T-content"}>@truePrompt</label>
    </div>

    <div class="multiple-choice">
      <input id="@field.name-F" name="@field.name" value="false" type="radio" @if("false".equals(field.value)){ checked="checked" }>
      <label for="@field.name-F" @if(falseContent.body.nonEmpty){data-target="@field.name-F-content"}>@falsePrompt</label>
    </div>

    @if(trueContent.body.nonEmpty) {
      <div class="panel panel-border-narrow js-hidden" id="@field.name-T-content">
      @trueContent
      </div>
    }

    @if(falseContent.body.nonEmpty) {
      <div class="panel panel-border-narrow js-hidden" id="@field.name-F-content">
      @falseContent
      </div>
    }

  </fieldset>

</div>