@(field: Form.Field, prompt: String, optionValue: String, isPromptHtml: Boolean = false, cssClass : String = "")

<div class="multiple-choice">
  <input id="@field.name@optionValue" name="@field.name" value="@optionValue" type="radio" @if(field.value != null && field.value.equals(optionValue)){ checked="checked" }>
  <label class="@cssClass" for="@field.name@optionValue">
      @if(isPromptHtml) {
        @Html(prompt.replace("\n", "<br/>"))
      } else {
        @Html(HtmlFormat.escape(prompt).toString.replace("\n", "<br/>"))
      }
  </label>
</div>