@import utils.common.ViewUtil
@import utils.common.SelectOption
@(field: Form.Field, options: Map[SelectOption, Boolean])

<div id="@field.name" class="form-group"
  @{
    val fieldValidationData = ViewUtil.fieldValidationJSON(field);
    if(fieldValidationData != null){
      HtmlFormat.raw("data-validation=\"" + HtmlFormat.escape(fieldValidationData) + "\"")
    }
  }>

  @* Iterator required to preserve ordering *@
  @for((option, index) <- options.iterator.zipWithIndex) {
    <label class="block-label" for="@field.name@index">
      <input id="@field.name@index" type="checkbox" name="@{field.name}[@index]" value="@option._1.value" @if(option._2) { checked="checked" }>
      @Html(HtmlFormat.escape(option._1.prompt).toString.replace("\n", "<br/>"))
    </label>
  }
</div>