@import utils.common.ViewUtil
@import play.twirl.api.HtmlFormat

@(field: Form.Field, prompt: Html, promptHeadingTag: String = "span", promptCssClass: String = "govuk-hint", truePrompt: String = "Yes", falsePrompt: String = "No", validationGroup: Option[String] = None, inline: Boolean = true, legendContent: Option[Html] = None)(trueContent: Html)(falseContent: Html)

@trueDisclosurePanelId = {
  @if(trueContent.body.nonEmpty) {
    @field.getName.get-T-content
  }
}

@falseDisclosurePanelId = {
  @if(falseContent.body.nonEmpty) {
    @field.getName.get-F-content
  }
}

@formRadioGroupContainer(field)(prompt, promptHeadingTag, promptCssClass, validationGroup, inline, legendContent){

  @formRadio(field, truePrompt, "true", disclosurePanelId=trueDisclosurePanelId.toString().trim)

  @if(trueContent.body.nonEmpty && !inline) {
    <div class="panel panel-border-narrow js-hidden" id="@field.getName.get-T-content">
    @trueContent
    </div>
  }

  @formRadio(field, falsePrompt, "false", disclosurePanelId=falseDisclosurePanelId.toString().trim)

  @if(trueContent.body.nonEmpty && inline) {
    <div class="panel panel-border-narrow js-hidden" id="@field.getName.get-T-content">
    @trueContent
    </div>
  }

  @if(falseContent.body.nonEmpty) {
    <div class="panel panel-border-narrow js-hidden" id="@field.getName.get-F-content">
    @falseContent
    </div>
  }

}
