@import utils.common.ViewUtil
@import utils.common.SelectOption
@import play.twirl.api.HtmlFormat

@(field: Form.Field, options: Map[SelectOption, Boolean], validationGroup: Option[String] = None)

<div id="@field.getName.get" class="form-group"
  @{
    val fieldValidationData = ViewUtil.fieldValidationJSON(field);
    if(fieldValidationData != null){
      HtmlFormat.raw(" data-validation=\"" + HtmlFormat.escape(fieldValidationData) + "\"")
    }
  }
  @if(validationGroup.isDefined) {
    @Html(" data-validation-group=\"" + HtmlFormat.escape(validationGroup.get) + "\"")
  }>

  @* Iterator required to preserve ordering *@
  @for((option, index) <- options.iterator.zipWithIndex) {
    <div class="multiple-choice">
      <input id="@field.getName.get@index" type="checkbox" name="@{field.getName.get}[@index]" value="@option._1.value" @if(option._2) { checked="checked" }>
      <label for="@field.getName.get@index">
        @if(option._1.isPromptHtml) {
          @Html(option._1.prompt.replace("\n", "<br/>"))
        } else {
          @Html(HtmlFormat.escape(option._1.prompt).toString.replace("\n", "<br/>"))
        }
      </label>
    </div>
  }
</div>