@import utils.common.ViewUtil
@import play.twirl.api.HtmlFormat
@import org.apache.commons.lang3.StringUtils

@(field: Form.Field, hint: Option[Html] = None, rows: String = "2", cssClass: String = "", validationGroup: Option[String] = None, labelWrapperTag: String = "", labelClass: String = "form-label")(label: Html)

@formattedLabel = {
  <label for="@field.id">
    <span class="@labelClass">@label</span>

    @if(ViewUtil.cssClassContainsHeading(labelClass)) {
      <div class="clientside-form-group-error-target @if(field.error.isDefined) { form-group-error }">
    }

      @if(hint.isDefined){
        <span class="form-hint">@hint</span>
      }

      <div class="clientside-error-message-parent">
        @if(field.error.isDefined) {
          <span class="govuk-error-message">@Messages(field.error.get.message)</span>
        }
      </div>

    @if(ViewUtil.cssClassContainsHeading(labelClass)) {
      </div>
    }
  </label>
}

<div class="form-group @if(field.error.isDefined && !ViewUtil.cssClassContainsHeading(labelWrapperTag)) { form-group-error } @if(!ViewUtil.cssClassContainsHeading(labelClass)) { clientside-form-group-error-target }">

  @if(!StringUtils.isBlank(labelWrapperTag)) {
    <@labelWrapperTag>@formattedLabel</@labelWrapperTag>
  } else {
    @formattedLabel
  }

  @if(ViewUtil.cssClassContainsHeading(labelClass)) {
    <div class="clientside-form-group-error-target @if(field.error.isDefined) { form-group-error }">
  }

    <textarea class="form-control @cssClass @if(field.error.isDefined){ form-control-error }" @if(field.error.isDefined){ aria-invalid="true" } id="@field.id" rows="@rows" name="@field.getName.get"
      @{
        val fieldValidationData = ViewUtil.fieldValidationJSON(field);
        if(fieldValidationData != null){
          HtmlFormat.raw("data-validation=\"" + HtmlFormat.escape(fieldValidationData) + "\"")
        }
      }
      @if(validationGroup.isDefined) {
        @Html(" data-validation-group=\"" + HtmlFormat.escape(validationGroup.get) + "\"")
      }
    >@field.getValue.orElse(null)</textarea>

  @if(ViewUtil.cssClassContainsHeading(labelClass)) {
    </div>
  }

</div>
