a[rel="external"] {
	position: relative;
	padding-right: 15px;
	&:after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 8px;
		width: 12px;
		height: 12px;
		background-image: url("/common/assets/template/images/lite/external/external.svg");
		background-repeat: no-repeat;
		opacity: .6;
	}
}
