@import models.common.Country

@(field: Form.Field, countries: List[Country], labelText: Option[String] = None, labelCssClass: Option[String] = None, removeButton: Option[Html] = None, detailPanel: Option[Html] = None)
<div id="@field.id" class="form-group @if(field.error.isDefined) { form-group-error }">

  @if(labelText.isDefined) {
    <label class="@if(labelCssClass.isDefined) { @labelCssClass } else { form-label }" for="@Html(field.id + "-s")">@labelText</label>
  }

  @if(field.error.isDefined) {
    <p class="error-message">@Messages(field.error.get.message)</p>
  }

  <select name="@field.name" id="@Html(field.id + "-s")" class="form-control ui-autocomplete-base @if(field.error.isDefined) { form-control-error }" autocorrect="off" autocomplete="off" data-ui-autocomplete="ui-autocomplete" data-ui-autocomplete-type="country" data-ui-autocomplete-id="@Html(field.id + "-s")">
    <option value="" @if(field.value == null || "".equals(field.value)) {selected="selected"}></option>
    @for(country <- countries) {
      <option value="@country.getCountryRef" data-alternative-spellings="@country.getSynonymsAsString" data-relevancy-booster="1" @if(field.value != null && country.getCountryRef.equals(field.value)){selected="selected"}>@country.getCountryName</option>
    }
  </select>

  @if(removeButton.isDefined) {

    @removeButton.get

  }

  @if(detailPanel.isDefined) {

    @detailPanel.get

  }

</div>