@(form: Form[_], title: Option[Html] = None, description: Option[Html] = None, fieldOrder: Seq[String] = Seq.empty)
@if(form.hasErrors) {

  <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
      @title.getOrElse("There are errors on this page")
    </h2>

    @if(description.isDefined) {
      <p>@description</p>
    }

    <ul class="error-summary-list">
      @* Print all errors without a defined order first *@
      @for(error <- form.errors().entrySet().filter(e => !fieldOrder.contains(e.getKey)).flatMap(e => e.getValue())) {
        <li><a href="javascript:doFocus('@error.key')">@Messages(error.message())</a></li>
      }

      @* For errors with defined order, print in correct order *@
      @for(error <- fieldOrder.filter(e => form.errors.containsKey(e)).flatMap(e => form.errors().get(e))) {
        <li><a href="javascript:doFocus('@error.key')">@Messages(error.message())</a></li>
      }
    </ul>

  </div>

  <script>
    function doFocus(name) {
      document.querySelector("[name='" + name + "']").focus();
    }
  </script>
}